<p>
  Book => Read => Toolbar works!
</p>

<nav>
  <a [routerLink]="['/books']">Books index</a> - 

  <a [routerLink]="['/books', {outlets: { 
    primary: 'create',
    sidebar: 'create',
    toolbar: 'create',
    modal: 'create'
  }}]">Create a new book</a> - 

  <a [routerLink]="['/books', {outlets: {
    primary: bookID+'/edit',
    sidebar: bookID+'/edit',
    toolbar: bookID+'/edit',
    modal: bookID+'/edit'
  }}]">Update this book</a> - 

  <a href="#" data-toggle="modal" data-target="#bookDeleteModal">Delete this book</a>
</nav>