<ul class="navbar-nav ml-auto">

  <ng-template [ngIf]="user" [ngIfElse]="loggedOut">
    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/profile']">{{ user.firstname }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">Logout</a>
    </li>
  </ng-template>

  <ng-template #loggedOut>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/register']">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/login']">Login</a>
    </li>
  </ng-template>

</ul>
