<h1>Welcome to {{ title }}</h1>

<hr>

<h2>Page Title : {{ pageTitle }}</h2>

<hr>



<!-- Core Header-->
<fieldset>
  <legend>Core Header</legend>
  <app-header></app-header>
</fieldset>


<hr>


<!-- Core Topbar -->
<fieldset>
  <legend>Core Topbar</legend>
  <app-topbar></app-topbar>
</fieldset>

<!-- Core Toolbar -->
<fieldset>
  <legend>Core Toolbar</legend>
  <app-toolbar></app-toolbar>
</fieldset>

<!-- Core Sidebar -->
<fieldset>
  <legend>Core Sidebar</legend>
  <app-sidebar></app-sidebar>
</fieldset>

<!-- Main Router -->
<fieldset>
  <legend>Main Router</legend>
  <router-outlet></router-outlet>
</fieldset>

<!-- Core Modal -->
<fieldset>
  <legend>Core Modal</legend>
  <app-modal></app-modal>
</fieldset>


<hr>


<!-- Core Footer-->
<fieldset>
  <legend>Core Footer</legend>
  <app-footer></app-footer>
</fieldset>
